[submodule "xtensa-dynconfig"]
	path = xtensa-dynconfig
	url = https://github.com/jcmvbkbc/xtensa-dynconfig
	branch = original
[submodule "crosstool-NG"]
	path = crosstool-NG
	url = https://github.com/fromGreg/crosstool-NG.git
	branch = xtensa-fdpic-frozen
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/fromGreg/buildroot.git
	branch = xtensa-fdpic-wifi-nfs-frozen
[submodule "esp-hosted"]
	path = esp-hosted
	url = https://github.com/fromGreg/esp-hosted.git
	branch = shmem-frozen
